*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp/*

# Ignore JetBrains' Related Folder and Files
**/.idea
*.iml

# Ignore Eclipse's Related Folder and Files
.classpath
local.properties
.metadata
.project
/bin

# Ignore Backup, Swap files
*.*~
*.swp
*.bak