#allContainer{
    background-color: #F7F7F7;
    padding-left: 15%;
    padding-right: 15%;
}

#columns{
    background-color: #fff;
    display: block;
    height: 518px;
    width: 100%;
}

.container{
    padding: 2%;
}

.section-2{
    background:url("") repeat scroll 0 0 #cc0000;
    padding: 1%;
}

#footer{
    background: none repeat scroll 0 0 #cc0000;
    clear: both;
    color: #fff;
    height: 10px;
    padding: 10px 0;
    position: relative;
    width: auto;
    bottom:0;
    left:0;
}

